@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@font-face {
    font-family: 'OleoScript';
    src: url('../public/resources/fonts/OleoScript-Regular.ttf')
        format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../public/resources/fonts/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'PoiretOne-Regular';
    src: url('../public/resources/fonts/PoiretOne-Regular.ttf')
        format('truetype');
    font-display: swap;
}

html,
body {
    background: #fff;
    font-size: 100%;
    font-family: 'Roboto-Regular';
}

.translate3d {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
